body {
    background-color: lightskyblue;
}

header {
    text-align: center;
    padding: 10px 20%;
}

/* couldn't figure out how to make this behave how I wanted, but the default is fine */
.btn-primary{
    /* float:right; */
}

#calcDiv{
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 50px;
    margin-top: 20px;
    padding: 10px;
    text-decoration: underline;
    border-radius: 10px;
    background-color: #C0E3F8;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}

.activeEmployee {

}

.inactiveEmployee {
    text-decoration: line-through;
    opacity: 0.4;
}

.spacer {
    z-index: -1;
}